{% extends "layouts.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body">
        <h1 class="govuk-heading-l">{{ serviceName }}</h1>

        <p class="govuk-body">Rural Payments stub for testing document upload integration.</p>

        <h2 class="govuk-heading-m">Test document upload</h2>

        <p class="govuk-body">
          This stub demonstrates the document upload pattern using:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Single Front Door Object Processor</li>
          <li>CDP File Uploader</li>
        </ul>

        <p class="govuk-body">
          <a href="/document-upload/sign-in" class="govuk-button" data-module="govuk-button">
            Start document upload
          </a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
