{% extends "layouts.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageTitle = "Enter document details" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if error %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: error,
            href: "#sbi"
          }
        ]
      }) }}
    {% endif %}

    <form method="post" action="/document-upload/metadata">

      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

      <p class="govuk-body">
        Provide details about the documents you want to upload.
      </p>

      <div class="govuk-form-group">
        <label class="govuk-label" for="sbi">
          Single Business Identifier (SBI)
        </label>
        <div id="sbi-hint" class="govuk-hint">
          This is your 9-digit farm business number.
        </div>
        <input class="govuk-input govuk-input--width-10" id="sbi" name="sbi" type="text" value="123456789" required>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="frn">
          Firm Reference Number (FRN)
        </label>
        <div id="frn-hint" class="govuk-hint">
          This is your 10-digit firm reference number.
        </div>
        <input class="govuk-input govuk-input--width-10" id="frn" name="frn" type="text" value="1234567890" required>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="reference">
          Reference
        </label>
        <div id="reference-hint" class="govuk-hint">
          Enter your own reference for this submission (for example, an agreement number or claim reference).
        </div>
        <input class="govuk-input govuk-input--width-20" id="reference" name="reference" type="text" value="TEST-REF-001" required>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h2 class="govuk-fieldset__heading">
              What relates to this document?
            </h2>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="type-cs-agreement-evidence" name="type" type="radio" value="CS_Agreement_Evidence" checked>
              <label class="govuk-label govuk-radios__label" for="type-cs-agreement-evidence">
                CS Agreement Evidence
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="type-delinked-evidence" name="type" type="radio" value="Delinked_Evidence">
              <label class="govuk-label govuk-radios__label" for="type-delinked-evidence">
                Delinked Evidence
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="type-delinked-amendment" name="type" type="radio" value="Delinked_Amendment">
              <label class="govuk-label govuk-radios__label" for="type-delinked-amendment">
                Delinked Amendment
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="type-pigeon-loft-owners" name="type" type="radio" value="Pigeon_Loft_Owners">
              <label class="govuk-label govuk-radios__label" for="type-pigeon-loft-owners">
                Pigeon Loft Owners
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="type-business-structure-change" name="type" type="radio" value="Business_Structure_Change">
              <label class="govuk-label govuk-radios__label" for="type-business-structure-change">
                Business Structure Change
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="type-probate-evidence" name="type" type="radio" value="Probate_Evidence">
              <label class="govuk-label govuk-radios__label" for="type-probate-evidence">
                Probate Evidence
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="type-complaint-evidence" name="type" type="radio" value="Complaint_Evidence">
              <label class="govuk-label govuk-radios__label" for="type-complaint-evidence">
                Complaint Evidence
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="type-appeal-evidence" name="type" type="radio" value="Appeal_Evidence">
              <label class="govuk-label govuk-radios__label" for="type-appeal-evidence">
                Appeal Evidence
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <input type="hidden" name="crn" value="{{ crn }}">
      <input type="hidden" name="service" value="fcp-sfd-frontend">

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>

  </div>
</div>
{% endblock %}
